<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
<div class="carousel-inner">
  {{#get "posts" limit="3"}} 
  {{#foreach posts}}
    <div class="carousel-item {{#if @first}}active{{/if}}">
      <a href="{{url}}"><img src={{feature_image}} class="d-block w-100 card-img" alt="..."></a>
      <div class="carousel-caption d-none d-md-block panel" style="background: rgb(36, 40, 70) none repeat scroll 0% 0%;">
        <h1 class="text-body panel-header"><a class="text-body" href="{{url}}"> {{title}} </a></h1>
        <p><a class="text-body panel-info" href="{{url}}">{{excerpt}}</a></p>
      </div>
    </div>
  {{/foreach}}
  {{/get}}
  
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>