<header class="site-archive-header">
<div class="card bg-dark text-white">
  {{#if cover_image}}  
    <img src="{{cover_image}}" class="card-img" alt="imagen de fondo">
  {{else}}
    <img src="{{asset "assets/images/cover-bg.jpg"}}" class="card-img" alt="imagen de fondo">
  {{/if}}
  <div class="card-img-overlay">
 

   {{!--Special header-image.hbs partial to generate the background image--}}
        <div class="inner">
            <div class="site-header-content author-header">
                {{#if profile_image}}
                    <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
                {{/if}}
                <div class="author-header-content">
                    <h1 class="site-title">{{name}}</h1>
                    {{#if bio}}
                        <h2 class="author-bio">{{bio}}</h2>
                    {{/if}}
                    <div class="author-meta">
                        {{#if location}}
                            <div class="author-location">{{location}}</div>
                        {{/if}}
                        <div class="author-stats">
                            {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
                        </div>
                        {{#if website}}
                            <span class="author-social-link"><a href="{{website}}" target="_blank" rel="noopener">Website</a></span>
                        {{/if}}
                        {{#if twitter}}
                            <span class="author-social-link"><a href="{{twitter_url}}" target="_blank" rel="noopener">Twitter</a></span>
                        {{/if}}
                        {{#if facebook}}
                            <span class="author-social-link"><a href="{{facebook_url}}" target="_blank" rel="noopener">Facebook</a></span>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
</div>
</header>